*::-webkit-scrollbar {
    display: none;
}

* {
    outline: px solid black;    
}

body {
    border: 0px solid black;
}

/* Navigation */

.home-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 99.5%;
    height: 8% ;
    background-color: black;
    overflow: visible;
}

.home-navigation p:nth-of-type(1) {
    position: relative;
    margin-left: 5%;
    top: -2%;
    left: 0;
    color: white;
    font-size: 1.5vw;
}

.home-navigation a{
    color: white;
    text-decoration: none;
}

.home-navigation a:hover {
    color: rgb(255, 196, 196)
}

.Menu-container {
    position: absolute;
    background-color: black;
    top: -1%;
    left: 80vw;
    width: 11%;
    height: 3vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.Menu-container:hover {
    position: absolute;
    top: -10px;
    left: 80vw;
    width: 11%;
    height: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    transition: .5s;
}

.Menu-container p:nth-of-type(1) {
    top: 0rem;
    left: 3.4vw;
    font-size: 1.5vw;
    position: absolute;
}

.Menu-container p:nth-of-type(2) {
    color: white;
    position: absolute;
    top: 4vw;
    font-size: 1.5vw;

}

.Menu-container p:nth-of-type(3) {
    color: white;
    position: absolute;
    top: 8vw;
    font-size: 1.5vw;

}

/* home first container */

.home-1st-container {
    position: fixed;
    left: 0;
    top: 3.9vw;
    width: 99.5%;
    height: 98%;
    z-index: -1;
}

.home-1st-container img {
    width: 100%;
    height: 100%;   
}

.first-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba( 255, 196, 196, 0.7);
    z-index: 1;
}

.title-container {
    position: absolute;
    left: 18%;
    top: 20%;
    width: 63%;
    height: 40rem;
    z-index: 1;
}

.title-container img:nth-of-type(2) {
    position: relative;
    left: 60%;
    top: -100px;
    width: 30vw;
    height: 40vw;
}

.title-container h1 {
    position: absolute;
    top: 10vw;
    left: 4vw;
    font-size: 3.5vw;
}

.title-container h2 {
    position: absolute;
    top: 17vw;
    left: 18vw;
    width: auto;
    height: auto;
}

.title-container img:nth-of-type(1) {
    position: absolute;
    top: -5vw;
    left: 11.5vw;
    width: auto;
    height: 20vw;
}

/* 2nd container */

.home-2nd-container {
    position: relative;
    top: 50vw;
    width: 99.5%;
    height: 40vw;
    background: rgb(255, 196, 196);
}

.home-2nd-container h1 {
    color: #89023e;
    position: relative;
    font-size: 60px;
    margin-left: 2%;
    width: 350px;
}   

.introduction {
    position: absolute;
    left: 10vw;
    width: 77vw;
}

.introduction p:nth-of-type(1) {
    font-size: 3vw;
    position: relative;
    left: 1vw;
    font-weight: bold;
}

.introduction p:nth-of-type(2), p:nth-of-type(3), li {
    font-size: 1.5vw;
}

/* 1st year */

.first-1st-container {
    width: 99.8%;
    top: 3.9vw;
    left: 0;
    position: absolute;
    height: 900px;
    background: rgb(255, 196, 196);
    z-index: -1;
}

.first-1st-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.iframe1 {
    position: absolute;
    left:  35vw;
    top: 7.5vw;
    width: 55vw;
    height: 31.5vw;
    border: 3px solid black;
    border-radius: 23px;
    background: rgb(255, 196, 196);
    z-index: 1;
}

.activity-items {
    position: absolute;
    top: 7.5vw;
    left: 5vw;
    width: 20vw;
    height: 32vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 196, 196, 0.9);
    border-radius: 23px;
    z-index: 1;
}

.activity-items p {
    font-size: 1.6vw;
    cursor: pointer;
    color: #89023e;
}

.activity-items p:hover {
    text-decoration: underline #89023e;
}

.activity-items a{
    text-decoration: none;
    color: #89023e;
}

/* assessment */

.assessment-first-container {
    position: fixed;
    width: 99.8%;
    top: 3.9vw;
    left: 0;
    height: 60vw;
    background: rgb(255, 196, 196);
    z-index: -1;
}

.assessment-first-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.assessment-first-container iframe {
    position: absolute;
    left: 20%;
    top: 5vw;
    width: 60vw;
    height: 35vw;
    z-index: 1;
}

.assessment-second-container {
    position: relative;
    top: 50vw;
    width: 99.5%;
    height: 40vw;
    background: rgb(255, 196, 196);
    display: flex;
    overflow-x: scroll;
}

.assessment-img-holder {
    position: relative;
    margin-left: 3%;
    width: 45vw;
    min-width: 40vw;
    margin-top: 10%;
    height: 25vw;
}

.assessment-img-holder img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* FIrst year activities */



