*::-webkit-scrollbar {
    display: none;
}

.first-year-activites {
    width: 99.8%;
    top: 0;
    left: 0;
    position: absolute;
    height: 30vw;
    background: rgb(255, 196, 196);
    z-index: -1;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 58vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

.next {
    position: absolute;
    top: 0;
    left: 90%;
    width: 10vw;
    height: 58vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

.next:hover, .back:hover {
    background: rgba(128, 128, 128, 0.2);
    cursor: pointer;
}

.next a, .back a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-item {
    position: absolute;
    top: 0;
    left: 10vw;
    width: 81vw;
    height: 58vw;
}

.activity-item iframe {
    width: 100%;
    height: 100%;
}

.activity-item img {
    width: 100%;
    height: 100%;
}